[client]
default-character-set = utf8

[mysqld]
character-set-server = utf8

# バイナリロギング形式設定（MIXED: ステートメントと行の混合形式）
binlog_format  = MIXED
# ログ出力時の timestamp をOS依存させる。デフォルトは UTC
log_timestamps = SYSTEM

# slow query 有効化
slow_query_log = ON
# 出力形式はファイル
log_output = FILE
# 5秒以上かかったクエリを記録
long_query_time = 5.000
# 100行以上読み込んだクエリを記録
min_examined_row_limit = 100
